.whole {
	font-size: 30;
	line-height: 1;
	max-width: 60em;
  	padding: 1em;
  	margin: 0 auto;
	}
  

.col1 {
	max-width: 70%;
	display: inline;
	padding-top: .2em;
	font-family: 'Lora', serif;
	font-size: 10em;
	letter-spacing: 2px; 
	font-weight: bold;
	}
	
.col2 {
	display: inline;
    float: right;
    max-width: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    text-align: right;
    letter-spacing: .01em;
    padding-top: 1.6em;
    padding-left: .2em;
    font-weight: 100;
    color: grey;
	}

.col3 {
	display: inline-block;
	max-width: 21%;
	padding-right: 0;
	}

.col4 {
	display: inline-block;
	padding-top: 1.7em;
	padding-left: 6em;
	}
	
.col5 {
	display: inline-block;
    float: right;
    max-width: 25%;
    position: absolute;
    top: 0;
    right: -13em;
    font-family: 'Roboto Mono', sans-serif;
    font-size: .5em;
    text-align: right;
    line-height: 1.5;
	}

.col6 {
	display: inline-block;
	max-width: 33%;
	}

.col7 {
	display: inline-block;
	max-width: 28%;
	padding-left: 2em;
	}
	
.col8 {
	display: inline-block;
	max-width: 31%;
	padding-left: 1.8em;
	}
	
.col9 {
	font-size: .6em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	padding-top: 3em;
	padding-left: .7em;
	max-width: 50%;
	display: inline-block;
	}
	
.col10 {
	display: inline-block;
	max-width: 50%;
	}



.underline {
	font-size: 3em;
	padding-left: .2em;
	line-height: .3;
	}

.heading {
	padding-left: .2em;
	padding-top: 1em;
	font-family: 'Lora', serif;
	font-size: 1.8em;
	}

.i {
	font-family: 'font-awesome';
	}
	
.article {
	font-size: 1.17em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	padding-left: .5em;
	padding-top: 1em;
	color: grey;
	}
	
.article2 {
	font-size: 1.17em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	padding-left: .5em;
	padding-top: 2em;
	color: grey;
	}
	
.article3 {
	font-size: 1.17em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	padding-left: 2em;
	padding-top: 2em;
	color: grey;
	}
	
.description {
	font-size: .75em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	padding-left: 1em;
	padding-top: .5em;
	line-height: 1.5em;
	}
	
.description2{
	font-size: .75em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	padding-left: 1em;
	padding-top: .5em;
	padding-right: 4em;
	line-height: 1.5em;
	border-right-style: dotted;
	border-right-width: .2em;
	border-right-color: grey;
	}

.description3{
	font-size: .75em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	padding-left: 3em;
	padding-top: .5em;
	line-height: 1.5em;
	border-left-style: dotted;
	border-left-width: .2em;
	border-left-color: grey;

	}

.iris {
	position: relative;
	}

.page {
	font-family: 'Lora', serif;
	font-size: 10em;
    position: absolute;
    bottom: 0em;
    right: -.4em;
    }
    
.features {
	width: 100%;
	}



@media only screen and (max-device-width: 1000px) {
    /* For mobile phones: */
    
    .col1 {
    	min-width: 50%;
    	font-size: 5em;
    	}
    .col2 {
    	min-width: 50%;
    	padding-top: .8em;
    	}
    	}

@media only screen and (max-device-width: 908px) {
    /* For mobile phones: */
    
    .col6 {
    	max-width: 25%;
    	}
    .col7 {
    	max-width: 25%;
    	}
    .col8 {
    	max-width: 25%;
    	}
    	}
    	
@media only screen and (max-device-width: 860px) {
    /* For mobile phones: */
    .heading {
    	font-size: 2.2em;
    	}
    .article {
    	font-size: 1.5em;
    	}
    .article2 {
    	font-size: 1.5em;
    	}
    .article3 {
    	font-size: 1.5em;
    	padding-left: .5em;
    	}
    .description {
    	font-size: 1em;
    	}
    .description2 {
    	font-size: 1em;
    	padding-right: 0;
    	border-right: none;
    	}
    .description3 {
    	font-size: 1em;
    	padding-left: 1em;
    	border-left: none;
    	}
    .col3 {
    	max-width: 100%;
    	}
    .col4 {
		padding-left: 1em;
    	}
    .page {
    	right: auto;
    	}
    .col5 {
    	right: 0em;
    	max-width: 100%;
    	top: 75em;
    	}
    .underline {
        padding-top: 1em;
        }
    .col2 {
    	font-size: 2em;
    	}
    .col6 {
    	max-width: 100%;
    	}
    .col7 {
    	max-width: 100%;
    	padding-left: 0;
    	}    	
    .col8 {
    	max-width: 100%;
    	padding-left: 0;
    	}    	
    	}


	

