.whole {
	font-size: 30;
	line-height: 1;
	max-width: 60em;
  	padding: 1em;
  	margin: 0 auto;
	}
  
.col1 {
	width: 75%;
	display: inline;
	}
	
.col2 {
	display: inline;
	float: right;
	width: 25%;
	}

.col3 {
	display: inline-block;
	max-width: 21%;
	padding-right: 0;
	}

.col4 {
	display: inline-block;
	max-width: 50%;
	padding-top: 1.7em;
	padding-left: 12em;
	}
	
.col5 {
    display: inline-block;
    float: right;
    width: 12%;
    font-family: 'Roboto Mono', sans-serif;
    font-size: .5em;
    text-align: right;
    line-height: 1.5;
    padding-top: 3.3em;

	}

.contents {
	padding-top: .2em;
	font-family: 'Lora', serif;
	font-size: 10em;
	letter-spacing: 2px; 
	font-weight: bold;
	}

.volume {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	text-align: right;
	letter-spacing: .01em;
	padding-top: 1.6em;
	padding-left: .2em;
	font-weight: 100;
	color: grey;
	}

.underline {
	font-size: 3em;
	padding-left: .2em;
	line-height: .3;
	}

.heading {
	padding-left: .2em;
	padding-top: 1em;
	font-family: 'Lora', serif;
	font-size: 1.8em;
	}

.i {
	font-family: 'font-awesome';
	}
	
.article {
	font-size: 1.17em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	padding-left: .5em;
	padding-top: 1em;
	color: grey;
	}
	
.description {
	font-size: .75em;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	padding-left: 1em;
	padding-top: .5em;
	line-height: 1.5em;
	}
	
.page {
	font-family: 'Lora', serif;
	font-size: 10em;
    position: absolute;
    bottom: 2.4em;
    right: 1.1em;
	
